<h4>Location: {{fullLocation}}</h4>
<br>
<div class="row">
  <div class="col-sm-5">
    <h4 style="text-decoration:underline;">Listings:</h4>
    <ul>
    {{#each sortedListings as |listing|}}
      <li>{{#link-to 'listing' listing.id}}{{listing.title}} {{/link-to}} {{listing-cost listing}}</li>

    {{/each}}
    </ul>
    <br>
      <button {{action 'deleteCity' city}}>Delete City</button>
      <br>
      <br>
  </div>


</div>

<br>
<br>
